/* здесь используйте глобальные переменные */
/* Переменные шрифтов */
$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Lato", "Arial", sans-serif;
/* Перменные цветов */
$green-basic: #68b738;
$black-full: #000000;
$white: #ffffff;
