/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/container.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/socials.scss";
@import "./blocks/stripe-wrapper.scss";
@import "./blocks/text.scss";
@import "./blocks/navigation.scss";
@import "./blocks/programs-advertisement.scss";
@import "./blocks/title.scss";
@import "./blocks/link.scss";
@import "./blocks/modes.scss";
@import "./blocks/product-information.scss";
@import "./blocks/living-example.scss";
@import "./blocks/location.scss";
@import "./blocks/footer.scss";
@import "./blocks/products.scss";
@import "./blocks/additional-goods.scss";
@import "./blocks/promotions.scss";
@import "./blocks/programs.scss";
@import "./blocks/programs-choose.scss";
