.additional-goods {
  position: relative;
  background-color: $white;
  margin-bottom: 40px;
}

.additional-goods__wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.additional-goods__title {
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 80px;
    padding-left: 30px;
  }

  @include desktop {
    padding-left: 70px;
  }
}

.additional-goods__list {
  @include list;
  border-top: 1px solid $grey-light-2;
  border-bottom: 1px solid $grey-light-2;
  padding-top: 13px;
  padding-bottom: 19px;
  margin-bottom: 35px;

  @include tablet {
    border: 0;
    margin-bottom: 70px;
    padding-bottom: 0;
  }

  @include desktop {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.additional-goods__item {
  padding-bottom: 19px;
  border-bottom: 1px solid $grey-light-2;
  margin-bottom: 12px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px 28px;
    border: 1px solid $grey-light-2;
    border-bottom: 0;
    margin-bottom: 0;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 287px 40px 285px 40px 244px;
    padding: 15px 0 17px;
    border-left: 0;
    border-right: 0;
    align-items: center;
  }

  &:last-child {
    margin-bottom: 0;
    border: 0;
    padding: 0;

    @include tablet {
      padding: 26px 38px 28px;
      border: 1px solid $grey-light-2;
    }

    @include desktop {
      padding: 15px 0 17px;
      border-left: 0;
      border-right: 0;
    }
  }
}

.additional-goods__item-title {
  margin: 0;
  margin-bottom: 13px;

  @include desktop {
    margin-bottom: 25px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.additional-goods__description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  text-transform: none;
  margin-bottom: 15px;

  @include desktop {
    min-width: 285px;
    justify-content: space-between;
  }

  @include desktop {
    grid-column: 3 / 4;
  }
}

.additional-goods__footer {
  min-width: 280px;
  min-height: 290px;
  background-color: $green-background-additionla-goods;
  background-image: linear-gradient(to bottom, transparent 0, rgba(104, 184, 56, 0.85) 0), url("../../images/additional-goods-background-mobile@2x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 187px;
  color: $white;

  @include tablet {
    min-height: 200px;
    background-image: linear-gradient(to bottom, transparent 0, rgba(104, 184, 56, 0.85) 0), url("../../images/additional-goods-background-tablet@2x.png");
    padding-top: 71px;
  }

  @include desktop {
    background-image: linear-gradient(to bottom, transparent 0, rgba(104, 184, 56, 0.85) 0), url("../../images/additional-goods-background-desktop@2x.png");
    min-width: 245px;
    min-height: 288px;
    padding-top: 185px;
  }

  &::before {
    @include pseudo;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift-icon");
    top: 59px;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
      width: 80px;
      height: 82px;
      left: 120px;
      padding: 7px 11px 13px;
    }
  }
}

.additional-goods__footer-description {
  display: flex;
  text-align: center;
  max-width: 161px;
  margin: 0 auto;

  @include tablet {
    text-align: left;
    margin-right: 111px;
  }

  @include desktop {
    margin: 0 auto;
    text-align: center;
  }
}

.additional-goods__description-meaning {
  @include tablet {
    margin-left: 50px;
  }
}

.additional-goods__list-button {
  @include tablet {
    min-width: 100%;
  }

  @include desktop {
    min-width: 244px;
    grid-column: 5 / 6;
  }
}
