.footer {
  position: relative;
}

.footer__wrapper-background {
  background-color: $grey-basic;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 55px;
  }

  @include desktop {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__logo-link {
  height: 24px;
  display: block;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }

  &:hover svg,
  &:focus svg {
    fill: $black-hover;
  }

  &:active svg {
    fill: $black-active;
  }
}

.footer__link-academy-name {
  position: relative;
}

.footer__socials-list {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }
}

.footer__link-academy-logo {
  fill: $grey-dark-light-2;
}

.footer__wrapper-link {
  @include link;
  height: 34px;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-secondary;
  color: $grey-dark-light;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    padding-top: 7px;
    max-width: 162px;
  }

  &:hover .footer__link-academy-logo {
    fill: $green-basic;
  }

  &:active {
    opacity: 0.3;
  }
}
