.header {
  color: #ffffff;

  @include mobile-only {
    padding: 0;
  }
}

.header--index::after {
  @include desktop {
    @include pseudo;
    position: absolute;
    display: block;
    width: 100%;
    height: 694px;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(to right, $white 50%, rgba(104, 184, 56, 0.85) 50%), url("../../images/index-background-desktop@1x.png");
    background-color: $grey-img-background;
    background-position-x: right;
    background-position-y: top;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $white 50%, rgba(104, 184, 56, 0.85) 50%), url("../../images/index-background-desktop@2x.png");
    }
  }
}

.header__site-navigation {
  @include tablet {
    padding-top: 25px;
  }

  @include desktop {
    padding-top: 55px;
  }
}
