.location {
  padding-left: 0;
  padding-right: 0;
}

.location__text-wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
  background-color: $grey-basic;

  &--index {
    background-color: $white;
  }
}

.location__text {
  margin: 0;

  &--invite {
    text-transform: uppercase;
    min-width: 128px;
    max-width: 180px;
  }

  &--adress {
    line-height: 20px;
    max-width: 210px;
  }
}
