.location {
  padding-left: 0;
  padding-right: 0;
  background-color: $grey-basic;
  position: relative;
  min-height: 474px;

  @include tablet {
    min-height: 600px;
  }

  @include desktop {
    min-height: 400px;
  }

  &--index {
    background-color: $white;

    @include desktop {
      background-color: $grey-basic;
    }
  }
}

.location__wrapper {
  position: relative;
}

.location__text-wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  column-gap: 14px;

  @include tablet {
    padding: 61px 70px;
  }

  @include desktop {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-610px);
    width: 565px;
    min-height: 198px;
    background-color: $white;
    z-index: 10;
  }
}

.location__text {
  margin: 0;

  &--invite {
    text-transform: uppercase;
    min-width: 128px;
    max-width: 177px;
  }

  &--adress {
    line-height: 20px;
    max-width: 210px;
    align-self: center;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 193px;
      text-align: right;
    }
  }
}

.location__map {
  display: block;
  border: 0;
  width: 100%;
  height: 362px;
  position: relative;

  @include tablet {
    height: 400px;
  }

  @include desktop {
    margin: 0 auto;
  }
}

.location__map-img {
  position: absolute;
  display: block;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 0;
}
