.modes {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
  }
}

.modes__wrapper {
  padding: 30px 20px 18px;
  background-color: $grey-basic;
  margin-bottom: 20px;
  position: relative;

  @include tablet {
    padding: 77px 63px 56px 52px;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 0;
    min-width: 570px;
    padding-right: 61px;
    padding-bottom: 59px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: $green-basic;
    position: absolute;
    top: 24px;
    left: 21px;
    border-radius: 50%;

    @include tablet {
      width: 200px;
      height: 200px;
      top: 92px;
      right: 63px;
      left: auto;
    }

    @include desktop {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
      right: auto;
    }
  }

  &::after {
    @include pseudo;
    background-image: url("../../icons/stack.svg#programs-mobile-cat-slim");
    display: block;
    width: 36px;
    height: 50px;
    top: 21px;
    left: 27px;

    @include tablet {
      width: 140px;
      height: 194px;
      top: 81px;
      right: 93px;
      left: auto;
    }

    @include desktop {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
    }
  }
}

.modes__wrapper--mass {
  &::after {
    @include pseudo;
    display: block;
    background-image: url("../../icons/stack.svg#programs-mobile-cat-strong");
    width: 67px;
    height: 28px;
    top: 35px;
    left: 12px;

    @include tablet {
      width: 268px;
      height: 112px;
      top: 135px;
      right: 25px;
      left: auto;
    }

    @include desktop {
      width: 139px;
      height: 56px;
      top: 68px;
      left: 33px;
    }
  }
}

.modes__title {
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  text-align: left;

  @include tablet {
    margin: 0;
    margin-bottom: 24px;
  }

  @include desktop {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.modes__text {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-light-border;

  @include tablet {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 53px;
    max-width: 340px;
  }

  @include desktop {
    max-width: 457px;
    margin-bottom: 28px;
  }
}

.modes__link {
  position: relative;
  padding-right: 57px;

  &:hover::after {
    width: 32px;
    height: 10px;
    transition: 0.2s;
    background-position-x: -2px;
  }

  &:active {
    opacity: 0.3;
  }
}

.modes__link::after {
  @include pseudo;
  background-image: url("../../icons/stack.svg#programs-arrow-long");
  background-position-x: -7px;
  background-repeat: no-repeat;
  width: 35px;
  height: 10px;
  display: block;
  top: calc(50% - 6px);
  right: 5px;
  transition: 0.4s;

  @include tablet {
    right: -4px;
  }
}
