.navigation {
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 20px;
  line-height: 20px;
  background-color: $white;
  border-bottom: 1px solid $grey-light;

  &--index {
    @include mobile-only {
      border-bottom: 0;
    }
  }

  &--close {
    @include mobile-only {
      border-bottom: 0;
    }
  }

  &--close .navigation__button-close {
    @include mobile-only {
      display: block;
    }
  }

  &--open .navigation__button-close {
    @include mobile-only {
      top: 23px;
      right: 17px;
      display: block;
    }
  }

  @include tablet {
    border-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
}

.navigation--close .navigation__categories-list {
  @include mobile-only {
    display: none;
  }
}

.navigation--close .navigation__button-close::before {
  transform: rotate(0deg);
  top: 3px;
}

.navigation--close .navigation__button-close::after {
  transform: rotate(0deg);
  top: auto;
  bottom: 3px;
}

.navigation--close .navigation__button-close-strip {
  transform: rotate(0deg);
  top: auto;
  bottom: calc(50% - 1px);
}

.navigation--open .navigation__categories-list {
  @include mobile-only {
    position: absolute;
    z-index: 10;
    background-color: $white;
    width: 100%;
    top: 65px;
  }
}

.navigation__categories-list {
  @include list;

  display: block;
  color: $black-full;

  @include tablet {
    display: flex;
    padding-right: 2px;
  }

  @include desktop {
    padding-right: 2px;
  }

  &--index {
    @include desktop {
      color: $white;
    }
  }
}

.navigation__categories-item {
  position: relative;

  @include mobile-only {
    border-bottom: 1px solid $grey-light;

    &:first-child {
      border-top: 1px solid $grey-light;
    }
  }

  @include tablet {
    margin-right: 33px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__categories-item--active {
  &::before {
    @include tablet {
      @include pseudo;
      display: block;
      background-color: $green-basic;
      bottom: 6px;
      left: 0;
      width: 100%;
      height: 2px;
    }

    @include desktop {
      bottom: 11px;
    }
  }
}


.navigation__categories-list--index .navigation__categories-item--active {
  @include desktop {
    &::before {
      background-color: $white;
    }
  }
}

.navigation__menu-link {
  width: 100%;
  display: flex;
  color: inherit;
  justify-content: center;
  padding: 22px 20px;
  text-decoration: none;
  text-transform: uppercase;

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--logo {
    display: grid;
    width: calc(100% - 62px);
    grid-template-rows: 1fr;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 15px 20px 12px;

    @include tablet {
      padding: 0;
      display: block;
      width: 174px;
    }

    @include desktop {
      width: 202px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}


.navigation__logo-img-words {
  display: block;
  justify-self: center;

  @include tablet {
    display: none;
  }
}


.navigation__button-close {
  display: none;
  width: 24px;
  height: 24px;
  background-color: $white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 21px;
  padding: 0;

  @include tablet {
    display: none;
  }
}

.navigation__button-close-strip {
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $black-full;
  transform: rotate(-45deg);
}

.navigation__button-close::before,
.navigation__button-close::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: $black-full;
}

.navigation__button-close::before {
  top: 7px;
  transform: rotate(45deg);
}

.navigation__button-close::after {
  top: 7px;
  transform: rotate(-45deg);
}
