.page {
  font-family: $font-primary;
  min-width: 300px;
}

.page__header {
  @include tablet {
    margin-bottom: 65px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.page__body {
  margin: 0;
}

.page__main {
  position: relative;
}

.page__main-title {
  position: relative;

  &--catalog {
    border-top: 1px solid $grey-light-border;
    margin: 0;
    margin-bottom: 41px;

    @include tablet {
      border: 0;
      text-align: left;
      margin-bottom: 84px;
    }

    @include desktop {
      margin-bottom: 165px;
    }
  }

  &--programs {
    margin-bottom: 37px;

    @include desktop {
      padding-left: 110px;
    }
  }
}
