.programs-choose {
  position: relative;
}

.programs-choose__user {
  margin-bottom: 30px;

  &--contacts {
    .programs-choose__label::after {
      @include pseudo;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
      background-color: $black-full;
      z-index: 10;
    }

    .programs-choose__label--error::after {
      background-color: $red-error;
    }
  }


  @include tablet {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 65px;
  }

  @include desktop {
    display: flex;
    column-gap: 80px;
    flex-shrink: 1;
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 70;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-width;
  }
}

.programs-choose__wrapper-id {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 72px;
    padding-left: 0;
    padding-right: 0;
  }

  @include desktop {
    flex: auto;
    margin-bottom: 0;
    min-width: 570px;
  }
}

.programs-choose__label {
  display: flex;
  margin-bottom: 14px;
  column-gap: 11px;
  max-width: 100%;
  align-items: center;
  position: relative;

  @include tablet {
    margin-bottom: 19px;
  }

  @include desktop {
    flex-grow: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus-within::after {
    background-color: $green-basic;
  }

  &--phone {
    &::after {
      @include pseudo;
      width: 15px;
      height: 15px;
      mask-image: url("../../icons/stack.svg#programs-choose-phone");
    }
  }

  &--mail {
    @include desktop {
      min-width: 570px;
      margin-bottom: 0;
    }

    &::after {
      @include pseudo;
      width: 17px;
      height: 13px;
      mask-image: url("../../icons/stack.svg#programs-choose-mail");
    }
  }

  &--error {
    & .input-text {
      border-color: $red-error;
      outline: 1px solid $red-error;
    }
  }

  &--checkbox {
    @include desktop {
      min-width: 200px;
    }
  }
}

.programs-choose__input {
  flex-grow: 1;
  position: relative;
}

.programs-choose__label--checkbox .programs-choose__checkbox-input:disabled + .programs-choose__mark,
.programs-choose__label--radio .programs-choose__radio-input:disabled + .programs-choose__mark {
  opacity: 0.3;
}

.programs-choose__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.programs-choose__fieldset.programs-choose__fieldset--radio {
  border-top: 1px solid $grey-light-border;
  border-bottom: 1px solid $grey-light-border;
  padding: 20px 20px 4px;

  @include tablet {
    border: 1px solid $grey-light-border;
    padding: 23px 27px 12px;
    min-height: 196px;
  }

  @include desktop {
    flex: auto;
  }

  & .programs-choose__item {
    margin-bottom: 14px;
  }
}

.programs-choose__title {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;

  &--contacts {
    margin-bottom: 31px;

    @include tablet {
      margin-bottom: 72px;
    }
  }

  &--comment {
    margin-bottom: 31px;

    @include tablet {
      margin-bottom: 87px;
    }

    @include desktop {
      margin-bottom: 76px;
    }
  }

  &--additional {
    margin-bottom: 31px;

    @include tablet {
      margin-bottom: 54px;
    }

    @include desktop {
      margin-bottom: 50px;
    }
  }

  @include tablet {
    padding-left: 30px;
  }

  @include desktop {
    padding-left: 70px;
  }
}

.programs-choose__list {
  @include list;

  &--check {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 32px;
    }
  }
}

.programs-choose__list .programs-choose__item {
  @include tablet {
    margin-bottom: 0;
    min-width: 286px;
  }
}

.programs-choose__list--check .programs-choose__item {
  @include desktop {
    min-width: 245px;
    padding-top: 9px;
  }
}


.programs-choose__item {
  position: relative;
  padding: 6px 10px 6px 0;
  margin-bottom: 13px;

  @include tablet {
    padding: 5px 10px 5px 0;
  }

  @include desktop {
    padding: 7px 10px 3px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & .programs-choose__label {
    padding-left: 45px;

    @include tablet {
      padding-left: 60px;
    }

    &:hover .programs-choose__mark::before {
      border-color: $grey-light-4;
    }

    &:hover .programs-choose__mark--checkbox {
      border-color: $grey-light-4;
    }

    &:active {
      opacity: 0.3;
    }

    &:focus-within.programs-choose__label::before {
      @include pseudo;
      outline: 1px solid $black-full;
      width: 100%;
      height: 35px;
      display: block;
      top: -9px;
      left: 0;

      @include tablet {
        height: 42px;
        top: -4px;
      }

      @include desktop {
        top: -6px;
      }
    }
  }
}

.programs-choose__mark {
  position: relative;

  &--radio::before {
    @include pseudo;
    display: block;
    top: -7px;
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-light-2;
    border-radius: 50%;
    background-color: transparent;

    @include tablet {
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }

  &--checkbox::before {
    @include pseudo;
    display: block;
    top: -5px;
    left: -45px;
    width: 30px;
    height: 30px;
    border: 1px solid $grey-light-2;
    background-color: transparent;
    z-index: 0;

    @include tablet {
      left: -60px;
      top: -3px;
      width: 40px;
      height: 40px;
    }

    @include desktop {
      top: -5px;
    }
  }
}

.programs-choose__radio-input[type="radio"]:checked + .programs-choose__mark--radio::after {
  @include pseudo;
  display: block;
  top: 4px;
  left: -36px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $green-basic;

  @include tablet {
    left: -49px;
    width: 18px;
    height: 18px;
  }
}

.programs-choose__textarea-wrapper {
  margin-bottom: 22px;

  @include tablet {
    margin-bottom: 58px;
  }

  @include desktop {
    margin-bottom: 65px;
  }
}

.programs-choose__textarea {
  width: 100%;
  min-height: 150px;
  margin: 0 auto;
  border: 1px solid $grey-light-3;
  padding: 14px;

  @include tablet {
    min-height: 175px;
    padding: 9px 20px 20px;
  }
}

.programs-choose__checkbox-wrapper {
  margin-bottom: 33px;

  @include tablet {
    margin-bottom: 52px;
  }

  @include desktop {
    margin-bottom: 63px;
  }
}

.programs-choose__checkbox-input[type="checkbox"]:checked + .programs-choose__mark--checkbox::after {
  @include pseudo;
  top: 2px;
  left: -38px;
  width: 18px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: url("../../icons/stack.svg#checked-icon");
  background-color: $green-basic;
  z-index: 1;

  @include tablet {
    width: 24px;
    height: 19px;
    top: 6px;
    left: -50px;
  }
}

.programs-choose__submit-wrapper {
  position: relative;
  text-align: center;

  @include tablet {
    display: grid;
    grid-template-columns: 284px 1fr;
    column-gap: 60px;
    text-align: left;
    align-items: center;
  }

  @include desktop {
    grid-template-columns: 570px 1fr;
    column-gap: 80px;
  }

  & .text--small {
    @include tablet {
      font-size: 16px;
    }
  }
}

.programs-choose__submit {
  width: 100%;
  margin-bottom: 21px;

  @include tablet {
    margin-bottom: 0;
  }
}

.programs-choose__about-button {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: $black-full;

  @include tablet {
    align-self: flex-start;
    padding-top: 17px;
  }
}
