.text {
  color: $grey-dark-light;

  &--main-slogan {
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 29px;

    @include tablet {
      color: $black-full;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--small {
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 18px;
    color: $grey-dark-light;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &--small-additional-goods {
    @include tablet {
      line-height: 20px;
    }
  }

  &--middle-link {
    color: $black-full;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;

    @include tablet {
      font-size: 20px;
      line-height: 30px;
      padding: 4px 0;
    }
  }

  &--middle {
    font-size: 14px;
    line-height: 20px;
    color: $black-full;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
    }
  }

  &--middle-bigger {
    font-size: 16px;
    line-height: 20px;
    color: $black-lighter;
  }

  &--middle-bigger-catalog {
    font-size: 16px;
    line-height: 20px;
    color: $black-lighter-catalog;
    text-transform: uppercase;
    text-decoration: none;

    @include tablet {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }

  &--livig-example-meaning {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: $black-full;

    @include tablet {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &--very-small-catalog {
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 16px;
    color: $grey-dark-light;

    @include tablet {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &--very-small {
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 12px;

    @include tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &--additional-goods-item-title {
    font-size: 16px;
    line-height: 16px;
    color: $black-lighter-catalog;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--middle-catalog-white {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    font-weight: 400;
  }

  &--middle-catalog-promotions {
    font-size: 16px;
    line-height: 24px;
    color: $black-full;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &--middle-programs-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: $black-full;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--middle-programs-label {
    font-size: 16px;
    line-height: 18px;
    color: $grey-dark-light;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
      line-height: 29px;
    }
  }
}
